.App {
  text-align: center;
  background-color: #d8d8d8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  margin-top: 1.5rem;
}

.Flatagram-container {
  height: 26rem;
  width: 19rem;
  background-color: aliceblue;
  border-radius: 0.7rem;
}

.ImageTile{
  height: 20rem;
  width: 19rem;
  background-position:center;
  background-size: cover;
  background-repeat: none;
}