.App {
  text-align: center;
  background-color: #fbffd4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  margin-top: 1rem;
  margin-bottom: 0.1rem;
}

.Flatagram-container {
  min-height: 26rem;
  width: 22rem;
  background-color: rgb(105, 252, 227);
  border-radius: 0.7rem;
  padding-bottom: 1rem;
  overflow: hidden;
  z-index: 0;
}

.Image-title {
  cursor: not-allowed;
  padding: 0.5rem;
}

.comments {
  font-size: 10px;
  list-style: none;
  text-align: left;
  cursor: pointer;
  line-height: 15px;
}

.ImageTile {
  height: 20rem;
  width: 22rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

.textInput {
  width: 70%;
  font-size: 13px;
  background-color: rgb(255, 255, 255);
}

.textInput:focus {
  outline: none;
  box-shadow: 0px 0px 5px 1px rgba(252, 194, 4, 0.445);
}

.submit {
  font-weight: bold;
  background-color: rgb(229, 247, 247);
  color: rgb(0, 19, 185);
  cursor: pointer;
}

.textInput,
.submit {
  padding: 5px;
  border: none;
  margin: 5px;
  border-radius: 5px;
  z-index: 1;
}

.ball {
  z-index: -1;
  height: 30px;
  width: 30px;
  background-color: cadetblue;
  opacity: 0.3;
  border-radius: 50%;
  position: absolute;
  top: 50vh;
  left: 50%;
}

#ball1 {
  animation: ballmoves 17s 29s infinite backwards;
  background-color: rgb(159, 160, 95);
}

#ball2 {
  animation: ballmoves 47s 19s ease alternate infinite;
  background-color: rgb(86, 37, 126);
}

#ball3 {
  animation: ballmoves 43s 7s ease alternate infinite;
  background-color: rgb(126, 37, 37);
}
#ball4{
  animation: ballmoves 33s 0s ease infinite backwards;
  background-color: rgb(37, 126, 111);
}

@keyframes ballmoves {
  0% {
    transform: translate(-20vh, -10vh);
  }

  20% {
    transform: translate(100vh, -40vh);
    opacity: 0;
  }

  40% {
    transform: translate(-50vh, -70vh);
  }

  60% {
    transform: translate(-40vh, -50vh);
    opacity: 0.3;

  }

  80% {
    transform: translate(10vh, 0vh);
    opacity: 0;
  }

  100% {
    transform: translate(-20vh, -10vh);
    opacity: 0.3;
  }

}

@media (max-width:22rem) {
  .App {
    padding: 0%;
  }

  .logo {
    display: none;
  }

  .ImageTile {
    width: 100%;
    height: 50vh;
    background-position: center;
    background-size: contain;
  }

  .Flatagram-container {
    border-radius: 0px;
    width: 100%;
    min-height: 100vh;
  }
}
@media (max-width:1000px){
  .ball{
    display: none;
  }
}