.App {
  text-align: center;
  background-color: #fbffd4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  margin-top: 1rem;
  margin-bottom: 0.1rem;
}

.Flatagram-container {
  min-height: 26rem;
  width: 19rem;
  background-color: aliceblue;
  border-radius: 0.7rem;
}

.Image-title {
  cursor:not-allowed;
  padding: 0.5rem;
}
.comments{
  font-size: 10px;
  list-style:none;
  text-align: left;
}

.ImageTile {
  height: 20rem;
  width: 19rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.textInput{
  width: 70%;
  font-size: 13px;
  background-color:rgb(255, 255, 255);
}
.textInput:focus{
  outline: none;
  box-shadow: 0px 0px 5px 1px rgba(252, 194, 4, 0.445);
}
.submit{
  font-weight: bold;
  background-color:rgb(229, 247, 247);
  color: rgb(0, 19, 185);
  cursor: pointer;
}
.textInput,.submit{
  padding: 5px;
  border: none;
  margin: 5px;
  border-radius: 5px;
}